*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

**C:\Users\Guénaëlle\Workspace2\GMM_JEE\src\META-INF\persistence.xml
**C:\glassfish4


**C:\glassfish4
**/home/micka/glassfish4
**/home/micka/tomcat
**/home/micka/workspace-poe/demoJpa

*.classpath
